.login {
	position: absolute;
	width: 100%;
	max-width: 600px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.container {
	max-width: 1170px;
	margin: auto;
}

img {
	max-width: 100%;
}

.inbox_people {
	background: #f8f8f8 none repeat scroll 0 0;
	float: left;
	overflow: hidden;
	width: 40%;
	border-right: 1px solid #c4c4c4;
}

.inbox_msg {
	border: 1px solid #c4c4c4;
	clear: both;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.incoming_msg_img {
	display: inline-block;
	width: 6%;
}

.received_msg {
	display: inline-block;
	padding: 0 0 0 10px;
	vertical-align: top;
	/* width: 92%; */
}

.received_withd_msg p {
	background: #ebebeb none repeat scroll 0 0;
	border-radius: 3px;
	color: #646464;
	font-size: 14px;
	margin: 0;
	padding: 5px 10px 5px 12px;
	width: 100%;
}


.received_withd_msg {
	/* width: 57%; */
}

li {
    list-style-type: none;
}
.mesgs {
	float: left;
	padding: 30px 15px 0 25px;
	width: 60%;
}

.sent_msg p {
	background: #075e54 none repeat scroll 0 0;
	border-radius: 3px;
	font-size: 14px;
	margin: 0;
	color: #fff;
	padding: 5px 10px 5px 12px;
	width: 100%;
}

.outgoing_msg {
	overflow: hidden;
	margin: 26px 0 26px;
}

.sent_msg {
	float: right;
	/* width: 46%; */
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #4c4c4c;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
}

.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}
textarea:focus, input:focus{
    outline: none;
}
.msg_send_btn {
	background: #075e54 none repeat scroll 0 0;
	border: medium none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 17px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}

.messaging {
	padding: 0 0 50px 0;
}

.msg_history {
	height: 516px;
	overflow-y: auto;
}

.message {
    list-style-type: none;
    padding-bottom: 5px;
}

.dot-typing {
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color:#C0C0C0;
    color: #C0C0C0;
    box-shadow: 9984px 0 0 0#C0C0C0, 9999px 0 0 0 #C0C0C0, 10014px 0 0 0 #C0C0C0;
    animation: dotTyping 1.5s infinite linear;
  }
  
  @keyframes dotTyping {
    0% {
      box-shadow: 9984px 0 0 0 #C0C0C0, 9999px 0 0 0 #C0C0C0, 10014px 0 0 0 #C0C0C0;
    }
    16.667% {
      box-shadow: 9984px -10px 0 0 #C0C0C0, 9999px 0 0 0 #C0C0C0, 10014px 0 0 0 #C0C0C0;
    }
    33.333% {
      box-shadow: 9984px 0 0 0 #C0C0C0, 9999px 0 0 0 #C0C0C0, 10014px 0 0 0 #C0C0C0;
    }
    50% {
      box-shadow: 9984px 0 0 0 #C0C0C0, 9999px -10px 0 0 #C0C0C0, 10014px 0 0 0 #C0C0C0;
    }
    66.667% {
      box-shadow: 9984px 0 0 0 #C0C0C0, 9999px 0 0 0 #C0C0C0, 10014px 0 0 0 #C0C0C0;
    }
    83.333% {
      box-shadow: 9984px 0 0 0 #C0C0C0, 9999px 0 0 0 #C0C0C0, 10014px -10px 0 0 #C0C0C0;
    }
    100% {
      box-shadow: 9984px 0 0 0 #C0C0C0, 9999px 0 0 0 #C0C0C0, 10014px 0 0 0 #C0C0C0;
    }
  }

.dot-typing-container {
    background: #ebebeb none repeat scroll 0 0;
    border-radius: 3px;
    color: #646464;
    font-size: 14px;
    margin: 0;
    padding: 12px 35px 12px 25px;
    display: inline-block;
}

.show {
    display: inline-block;
}
.hide {
   visibility: hidden;
}
